<a href="https://colab.research.google.com/github/minjeong-kim-git/GNUVILL_AI/blob/main/GNUVILL_%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EC%8A%A4%ED%84%B0%EB%94%94(%EA%B8%B0%EC%B4%88)_4%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_%EB%8B%B5%EC%95%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GNUVILL 인공지능 스터디(기초) 4주차 답안

sklearn을 활용한 다중 회귀 분석을 토대로 한 자동차 데이터 분석
 - 차의 무게와 부피와 이산화탄소 배출량의 관계를 알아보자.

## 1. 라이브러리

In [1]:
# 코드 작성: pandas 라이브러리 pd로 import하기
import pandas as pd

## 2. 데이터 준비하기

In [2]:
from google.colab import files
uploaded = files.upload()

Saving cars.csv to cars.csv

In [3]:
import io
# 코드 작성: car라는 변수에 cars.csv 읽어오기(io 활용)
car = pd.read_csv(io.BytesIO(uploaded['cars.csv']))

In [4]:
# 코드 작성: car 출력
car

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

In [5]:
# 코드 작성: 변수 X는 car의 무게(Weight)와 부피(Volume) / Hint: DataFrame 형태로 추출하기!
X = car[['Weight', 'Volume']]
# 코드 작성: 변수 Y는 car의 이산화탄소 배출량(CO2) / Hint: DataFrame 형태로 추출하기!
Y = car[['CO2']]

## 3. 회귀 분석


*   **sklearn**: 회귀 분석을 돕는 라이브러리
*   **linear_model**: sklearn 내 선형 모형을 토대로 선형 회귀 분석을 도움,

In [6]:
from sklearn import linear_model

*   **LinearRegression()**: 선형 회귀 분석 메소드
*   **fit(X, Y)**: 모델에 데이터 X, Y를 맞추는 함수

In [7]:
regr = linear_model.LinearRegression()
# 코드 작성: regr을 X, Y 데이터에 맞춰 fit 시키기
regr.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

*   **predict(X, Y)**:

In [8]:
# 코드 작성: 무게가 2300kg(X), 부피가 1300cm^3(Y)인 차의 이산화탄소 배출량(Y) 예측해보기
predictedCO2 = regr.predict([[2300, 1300]])
print(predictedCO2)

[[107.2087328]]



*   **.coef_**: 기울기, 즉 계수

In [9]:
# 코드 작성: regr의 계수 출력해보기
print(regr.coef_)

[[0.00755095 0.00780526]]